global-exclude *.py[co]
global-exclude __pycache__
recursive-include incendiary *.py
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include tox.ini
exclude *.png
exclude test
graft docs
recursive-include incendiary *.thrift
exclude .python-version