recursive-include incendiary *.py
recursive-include incendiary *.thrift
global-exclude *.py[co]
global-exclude __pycache__
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
exclude tox.ini
exclude *.png
exclude docs
exclude .python-version
graft tests